#
#
# Belt-Tension Park
# G0 X225 Y150 Z50
# 140Hz

# Facebook George Petrides inlägg:
#Greetings to all - new to the group as just assembled and testing my Max - have calibrated well and all good except longer
#prints are interrupted with “clog” and related message which seems to be generated falsely by the sensor in the external feeder.
#I see common problem with variety of solutions, which should try first? With info how please
#
# Scott Holman wrote:
# I just increased the "delta_extrusion" value in buffer_stepper.cfg to 250 from 50. Note that there are 2 lines to update,
# lines 111 and 118 assuming no other changes in the file. This has eliminated the nuisance “clogs”.
# It still catches upstream filament jams. It has never caught real partial clogs before or after this change.
# I don’t know if it will catch full clogs any more but I have not had any full clogs yet.
